# fly.toml app configuration file generated for contractor-hub-api on 2026-02-14T03:25:30+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'contractor-hub-api'
primary_region = 'sin'

[build]
  dockerfile = 'Dockerfile'

[deploy]
  release_command = '/app/bin/contractor_hub eval "ContractorHub.Release.migrate()"'

[env]
  PHX_HOST = 'contractor-hub-api.fly.dev'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

  [[http_service.checks]]
    interval = '10s'
    timeout = '5s'
    grace_period = '30s'
    path = '/api/v1/health'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
